{% load static %}
<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/index.css' %}" />

</head>
  <body>
      <div class="menu">
          <a href="{% url 'home' %}"><img src="{% static '/images/logo.png' %}"></a>
          <a href="{% url 'about' %}">About</a>
          <a href="{% url 'blog' %}">Writing</a>
          <a href="">Projects</a>
          <a href="{% url 'contact' %}">Contact</a>
      </div>
    {% block main %}{% endblock %}
    <div class="footer menu">
            <p>Site powered by Django, built with React</p>
            <h3>Contact</h3>
            <h3>Links</h3> 
            <h3>Social</h3>
        </div>
  </body>
</html>