{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class='header-section'>
    <h1>About Me</h1>
    <br>
    <br>
</div>  
<div class="container">
        <div class="row">
          <div class="col-5">
              <br>
              <br>
              <h1>My Story</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nullam ac tortor vitae purus. Urna porttitor rhoncus dolor purus non. Ornare arcu odio ut sem nulla pharetra. 
              <br>
              <br>
                  Viverra suspendisse potenti nullam ac tortor vitae purus. Sagittis vitae et leo duis ut diam quam. Nulla porttitor massa id neque aliquam. Iaculis eu non diam phasellus vestibulum lorem sed risus ultricies. Nibh nisl condimentum id venenatis a condimentum vitae sapien. Eu non diam phasellus vestibulum lorem. Mi tempus imperdiet nulla malesuada pellentesque. In aliquam sem fringilla ut.</p>
                 
          </div>
          <div class="col">
                <br>
                <br>
                <br>
                <br>
                <img style = "width:400px;" src='{% static "Images/tyler.png" %}'>
          </div>
        </div>
      </div>
<br>

{% endblock %}