{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class='header-section'>
    <h1>About Me</h1>
    <br>
    <br>
</div>  
<div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-1x">
              <br>
              <br>
              <h1>My Story</h1>
              <p>Thank you for stopping by my website! 
              <br>
              <br>
                This site is a mix of things. It's my blog, which is mainly centered on my thoughts on faith. It's also a splash page of sorts for the work that I've done.
                I've had an interesting journey into tech, I began my career in finance with a degree in English adn Economics before realizing that it may not be for me.
                That led to my jump to HubSpot where I learned the basics of front end web design through my career in Support
                and back end programming through my own pursuits.
            
                <br>
                <br>
                And the journey continues from there. I've starting a marketing services company providing SEO and content strategy/creation work for
                small businesses and teams in the Boston/Worcester area.</p>
                <br>
                <br>
                Check out my blog <a href="http://www.tylerscionti.com/blog">here</a> to read up on my stuff. If you want to work together on a project, reach out via my contact page <a href="http://www.tylerscionti.com/contact">here</a>. 
                 
          </div>
          <div class="col">
                <br>
                <br>
                <br>
                <br>
                <img style = "width:400px;" src='{% static "Images/tyler.png" %}'>
          </div>
        </div>
      </div>
<br>

{% endblock %}