{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class='header-section'>
    <h1>About Me</h1>
    <br>
    <br>
</div>  
<div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-1x">
              <br>
              <br>
              <h1>My Story</h1>
              <p>Thank you for stopping by my website! 
              <br>
              <br>
                This site is a mix of things. It's my blog, which is mainly centered on my thoughts on religion and entrepreneruship. It's also a splash page of sorts for the work that I've done.
                I've had an interesting journey into tech, I began my career in finance with a degree in English adn Economics before realizing that it may not be for me.
                That led to my jump to HubSpot where I learned the basics of front end web design through my career in Support
                and back end programming through my own pursuits.
            
                <br>
                <br>
                That took me to Centor, a platform I developed to help content marketers find content to create and share, a passion project that has grown into a startup.
                I don't know where the next step of my journey will take me, but I know that with a bit of faith, it'll be okay.</p>
                <br>
                <br>
                If you want to check out my resume you can <a href="{% url 'resume' %}">here</a>, or check out my blog <a href="">here</a>. 
                 
          </div>
          <div class="col">
                <br>
                <br>
                <br>
                <br>
                <img style = "width:400px;" src='{% static "Images/tyler.png" %}'>
          </div>
        </div>
      </div>
<br>

{% endblock %}