{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class='header-section'>
    <h1>Blog</h1>
    <br>
    <br>
</div>  
<br>
<br>
<br>
<br>
<div class="container">
<div class = "post-body col-md-8 offset-md-2">
    {% for article in object_list %}
    <div class = "blog-post-preview">
        <img class = "featured" src = "{{article.featured_image.url}}"> 
        <h3 class = "blog-title">{{ article.title }}</h3>
        {{ article.text|truncatechars:300 | safe }} <a href="{% url 'post' pk=article.pk%}">Read more.</a>
    </div>
    {% empty %}
        No articles yet.
    {% endfor %}
</div>
<br>
<br>
<br>
<br>
</div>
{% endblock %}