{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
<title>Tyler Scionti - Home</title>
<meta name="description" content="Welcome to my website! I code, I design, and I write about my faith and being a christian in tech. Check out my reading list and blog for more info."/>
{% endblock %}

{% block content %}
<div class='header-section home-banner'>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-5 offset-sm-1">
            <img style="width:100%;" src='{% static "Images/Desk.png" %}'>
        </div>
        <div class="col-sm-6">
            <h1>Hi, I'm Tyler</h1>
            <h3> I am <span id="typed"></span></h3>      
            <a href="{% url 'about' %}"><button class = "home-button">Get to know me</button></a>
        </div>
       
      </div>
    
    
    <br>
    <br>
</div> 

<div class = "main-body">
    <div class = "main-content">
        <br>
        <br>
        <div style="text-align:center;">
            <h4>I’m a writer, techie, product manager, and christian.<br>
                 This is my personal website and blog where I share my projects along with my thoughts on living out my faith in the startup world.</h4>
        </div>
        <br>
        <br>
        <div>
            <h3>Latest Project</h3>
                <p>I've been taking on web design and seo work lately, check out my latest work and examples on my portfolio.<br>
                <a href="http://www.tylerscionti.com/portfolio">Learn more.</a></p>

        </div>
        <br>
        <br>
        <div>
            <h3>Latest Blog Post</h3>
                <h5>We need to tune into the world, not tune it out</h5>
                <p>I'd love to be able to tune out of the world, but is that the most loving way to live?<a href="http://www.tylerscionti.com/post/13">Read more.</a></p>
        </div>
        <br>
        <br>
        <div>
            <h3>What I'm reading today</h3>
            <p>Lately I've been juggling two books:<br><br>
            <a href="https://www.barnesandnoble.com/w/anna-karenina-barnes-noble-classics-series-leo-tolstoy/1105958283#/">Anna Karenina</a> by Leo Tolstoy<br>
            <a href="https://www.barnesandnoble.com/w/this-is-marketing-seth-godin/1129055554?ean=9780525540830#/">This is Marketing</a> by Seth Godin</p>
        </div>
        
       
    </div>
    <br>
   <br>
    <br>
   
    
<div id="typed-strings">
        <h3>a writer</h3>
        <h3>a techie</h3>
        <h3>a Christian</h3>
    </div>

    <script>
            var typed = new Typed('#typed', {
                stringsElement: '#typed-strings',
                typeSpeed: 65
             });
    </script>
   
{% endblock %}