{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class='header-section home-banner'>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-5 offset-sm-1">
            <img style="width:100%;" src='{% static "Images/Desk.png" %}'>
        </div>
        <div class="col-sm-6">
            <h1>Hi, I'm Tyler</h1>
            <h3> I am <span id="typed"></span></h3>      
            <a href="{% url 'about' %}"><button class = "home-button">Get to know me</button></a>
        </div>
       
      </div>
    
    
    <br>
    <br>
</div> 

<div class = "main-body">
    <div class = "main-content">
        <br>
        <br>
        <div style="text-align:center;">
            <h4>I’m a writer, techie, product manager, and christian.<br>
                 This is my personal website and blog where I share my projects along with my thoughts on living our my faith in the startup world.</h4>
        </div>
        <br>
        <br>
        <div>
            <h3>Latest Project</h3>
                <p>Lately I've been working on a marketing services company, Centori.<br>
                At Centori our mission is to help small businesses and teams tell their stories effectively.<br>
                <a href="http://www.tylerscionti.com/portfolio">Learn more.</a></p>

        </div>
        <br>
        <br>
        <div>
            <h3>Latest Blog Post</h3>
                <h5>Grounded on Grace</h5>
                <p>What does grace in the polarizing church and political climate mean? Here's a personal story of how I found grace through the church and how we can get back to our roots. <a href="http://www.tylerscionti.com/post/11">Read more.</a></p>
        </div>
        <br>
        <br>
        <div>
            <h3>What I'm reading today</h3>
            <p>Lately I've been juggling two books:<br><br>
            Soul Survivor by Philip Yancy<br>
            This is Marketing by Seth Godin</p>
        </div>
        
       
    </div>
    <br>
   <br>
    <br>
   
    
<div id="typed-strings">
        <h3>a writer</h3>
        <h3>a techie</h3>
        <h3>a Christian</h3>
    </div>

    <script>
            var typed = new Typed('#typed', {
                stringsElement: '#typed-strings',
                typeSpeed: 65
             });
    </script>
   
{% endblock %}