{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class='header-section'>
    <h1>Hi, I'm Tyler</h1>
    <h3> I am <span id="typed"></span></h3>      
    <button class = "home-button">My Story</button>
    <br>
    <br>
</div>  
<br>
<br>
<div class = "main-body">
    <div class = "main-content">
        <h2>I build with:</h2>
        <div class = "logos">
            <img class = "work-logo" src='{% static "Images/html.png" %}'>
            <img class = "work-logo" src='{% static "Images/css.png" %}'>
            <img class = "work-logo" src='{% static "Images/django.png" %}'>
            <img class = "work-logo" src='{% static "Images/python.png" %}'>
        </div>
        <br>
        <h2>I design with:</h2>

        <div class = "logos">
            <img class = "work-logo" src='{% static "Images/sketch.png" %}'>
            <img class = "work-logo" src='{% static "Images/affinity.png" %}'>
            <img class = "work-logo" src='{% static "Images/invision.png" %}'>
        </div>
    </div>
    <br>
   <br>
    <br>
    <div class = "banner">
        <h2>Got a project?</h2>
        <br>
        <button class="home-button">Let's Talk</button>
    </div>
    <div class = "secondary-content">
            <div class="container">
                    <div class="row">
                      <div class="col-5">
                          <br>
                          <br>
                            <h2>I write too.</h2>
                            <h4>Usually about faith, tech, design, or entrepreneurship.</h4>
                      </div>
                      <div class="col">
                            <br>
                            <br>
                            <br>
                            <br>
                            <button class="secondary-button">Check out my blog</button>
                      </div>
                    </div>
                  </div>
            <br>
            <br>
            
    <br>
        </div>
</div>
<div id="typed-strings">
        <h3>a Creator</h3>
        <h3>a Designer</h3>
        <h3>a Developer</h3>
        <h3>a Self-Starter</h3>
    </div>

    <script>
            var typed = new Typed('#typed', {
                stringsElement: '#typed-strings',
                typeSpeed: 65
             });
    </script>
   
{% endblock %}