{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class='header-section'>
    <h1>My Work</h1>
    <br>
    <br>
</div>  
<div class="container">
    <div class = "post-body col-md-10 offset-md-2">
        <br>
        <br>
        {% for project in object_list %}
        <div class = "project-tile">
            <img class = "project-image" src = "{{project.featured_image.url}}"> 
            <h3 class = "blog-title">{{ project.title }}</h3>
            <h3>{{project.link}}</h3>
            {{ project.text|truncatechars:300 }} 
            <br>
            <br>
        </div>
        {% empty %}
            No projects yet.
        {% endfor %}
        <br>
        <br>
    </div>
</div>
{% endblock %}