{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
<title>{{ post.title }}</title>
<meta name="description" content="{{post.description}}"/>
<meta property="og:image" content="{{post.featured_image.url}}"/>

<meta name="twitter:description" content="{{post.description}}">
<meta name="twitter:title" content="{{ post.title }}">
<meta name="twitter:image" content="{{post.featured_image.url}}"/>

{% endblock %}
{% block content %}
<script language="javascript">
    function tweetCurrentPage()
    { window.open("https://twitter.com/share?url="+ encodeURIComponent(window.location.href)+"&text="+document.title, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false; }
</script>
<div class = "image-title">
<div class = "featured" style = "background: linear-gradient(rgb(9, 17, 32, 0.45),rgb(9, 17, 32, 0.45)), url('{{post.featured_image.url}}'); background-size:cover;">
<h1 class = "blog-title">{{ post.title }}</h1>
</div>
</div>
<div class="container">
    <br>
    <br>
    <div class = "post-body .col-md-8">{{ post.text |safe }}</div>

<!-- Go to www.addthis.com/dashboard to customize your tools --> 
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d3329e2989cd201"></script>
<br>
<br>
</div>
{% endblock content %}