{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class='header-section'>
    <h1>Resume</h1>
    <br>
    <br>
</div>  
<div class = "main-body">
    <div class = "main-content">
            <br>
            <br>
        <br>
        <h1>Tyler Scionti</h1>
        <p>tylerwscionti@gmail.com</p>
        <p>781-801-9413</p>
        <br>
        <h2>Work Experience</h2>
            <h3>HubSpot</h3>
            <h4>Associate Product Manager</h4>
            <h5>July 2017 2018 - Present</h5>
                <ul>
                    <li>Lead a team of three engineers with a product vision based off usage insights, competitor data, and support case volume.</li> 
                    <li>Conduct regular customer interviews and feedback sessions to research new features, as well as improvements on current ones.</li>
                    <li>Authored a research <a href="https://blog.hubspot.com/news-trends/how-hubspot-customers-use-subscriptions">paper on subscriptions usage</a> from the HubSpot customer base: </li>
                    <li>Launched multilingual subscriptions types so international users could build preferences pages for their contacts in multiple languages. Launched into beta with a 25% adoption rate.</li>
                    <li>Launched unsubscribe surveys, a survey that appears when a contact unsubscribes from email providing insights to customers as well as actionable data for internal deliverability and email protection teams.</li>
                </ul>
            <h4>Product Expert</h4>
            <h5>July 2017 2016 - July 2018</h5>
                <ul>
                    <li>Triaged internal tickets to our development team and assist in bug fixes.</li> 
                    <li>Recommended improvements for the product team based on support and customer case data on product usage from ad hoc analyses.</li>
                    <li>Supported product launches by arranging UX tests across teams and feedback sessions.</li>
                    <li>Developed Services trainings to educate teams on product usage, troubleshooting, and best practices.</li>
                    <li>Engaged in research projects on API capabilities and competitor analyses to compare features.</li>
                </ul>
            <h4>Customer Support Specialist</h4>
            <h5>January 2016 - July 2017</h5>
                <ul>
                    <li>Fielded customer questions while demonstrating a mastery of the software and customer service.</li> 
                    <li>Mentored and supported a team of six junior support reps. Oversaw training and development and partnered with management on outlining growth milestones.</li>
                    <li>Engineered a self-help tool for customers to allow for self-servicing of common issues. Built with HTML, CSS, and jQuery and utilized Trello’s API. </li>
                    
                </ul>
            <br>
            <h3>Centori</h3>
            <h4>Founder</h4>
            <h5>February 2018 - Present</h5>
                <ul>
                    <li>Founded a marketing SaaS company that aims to make developing a content and SEO strategy simpler for small businesses. We do this by analyzing a user’s website, picking out topics they should focus on, and providing content around those topics to fuel their marketing efforts.</li> 
                    <li>Designed and implemented a logo, brand identity, vision for the company and a go to market strategy.</li>
                    <li>Oversee content marketing campaigns on our blog, email, social, as well as video and ad campaigns.</li>
                    <li>Recruit and manage a remote team of 8 including 3 engineers and 5 marketing staff.</li>
                    <li>Designed and implemented a logo, brand identity, vision for the company and a go to market strategy.</li>
                    <li>Conduct customer and market research, developed and designed a platform based off these insights and grew to 28 organizations signed on (38 total users) with 4 paying customers.</li>
                    <li>Was awarded office space for a year by the city of Worcester along with membership in the Worcester Chamber of Commerce.</li>
                    <li>Was accepted into Worcester Polytechnic Institute’s Tech Advisor Network where we worked with a team of advisors to refine our business model and go to market.</li>
                </ul>
            <br>
            <h3>M3 Wealth Advisors</h3>
            <h4>Analyst & Webmaster</h4>
                <ul>
                    <li>Overhauled company website and brand identity; designed a new logo and set of marketing materials while laying out a content and social strategy to drive growth for the firm.</li> 
                    <li>Engaged in an analyst training program for MorningStar portfolio accounting and performance analysis.</li>
                </ul>
        <br>
        <br>
        <h2>Education</h2>
            <h3>College of the Holy Cross</h3>
        <h4>Graduated 2015</h4>
        <p>Bachelors in English and Economics</p>
        <br>
        <br>
        <h2>Skills</h2>
            <h4>Expert</h4>
            <p>Microsoft Office, Team Management, Product Management, Amplitude, Looker, Writing</p>
            <h4>Proficient</h4>
            <p>Sketch, Infinity Designer, HTML, CSS, JavaScript, jQuery, SQL, Python, and Django</p>
    </div>
</div>
<br>
   
{% endblock %}